<% layout('layouts/boilerplate') %>

<div>
    <pre>
        <%= result %> 
    </pre>
    <form action="">
        <input type="text" value="<%= result %> ">
        <button>Submit</button>
    </form>
</div>